	<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<div class="row">
				<div class="6u 12u$(medium)">
					<ul class="contact">
						<li class="fa-home">
							9202 James Ave<br />
							Summerland BC V0H 1Z0
						</li>
						<li class="fa-phone">(250) 494-GEAR/4327</li>
						<li class="fa-phone">(250) 809-7251</li>
					</ul>
				</div>
				<div class="6u 12u$(medium)">
					<img src="/files/atram.GIF" alt="" />
				</div>
			</div>
			<ul class="copyright">
				<li>Happily serving in the heart of the Okanagan Valley</li>
				<li>Summerland BC Canada</li>
			</ul>
		</div>
	</section>