<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css?a=s" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
	<div id="page-wrapper">
		<header id="header" class="alt">
			<h1><a href="/">Summerland Transmissions</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>
		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/about-us.html">About Us</a></li>
					<li><a href="/services.html">Services</a></li>
					<li><a href="/tranny-troubleshooting.html">Troubleshooting</a></li>
					<li><a href="/tranny-tips.html">Tips</a></li>
					<li><a href="/faqs.html">FAQs</a></li>
					<li><a href="/map.html">Map</a></li>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>
{% if page.banner %}
		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>Summerland Transmissions</h2>
				<p>Quality Automotive Transmission Rebuilding and Service</p>
			</div>
		</section>
{% endif %}

		<!-- Wrapper -->
		<section id="wrapper">
{% if page.banner %}
{% else %}
	<header>
		<div class="inner">
			<h2>Summerland Transmissions</h2>
			<p>Quality Automotive Transmission Rebuilding and Service</p>
		</div>
	</header>
{% endif %}
		{{ content }}
		</section>
	</div>
	<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<div class="row">
				<div class="8u 12u$(medium)">
					<ul class="contact">
						<li class="fa-home">
							9202 James Ave<br />
							Summerland BC V0H 1Z0
						</li>
						<li class="fa-phone">(250) 494-GEAR/4327</li>
						<li class="fa-phone">(250) 809-7251</li>
					</ul>
<p>Mention this website to receive a special discount on all transmission flush & fluid exchange services</p>
<p>Ask about our seniors discount & free local towing</p>
<h4>Let us take care of all your transmission needs!</h4>
				</div>
				<div class="4u 12u$(medium)">
					<img src="/files/atram.GIF" alt="" />
				</div>
			</div>
			<ul class="copyright">
				<li>Happily serving in the heart of the Okanagan Valley</li>
				<li>Summerland BC Canada</li>
			</ul>
		</div>
	</section>
	<!-- Scripts -->
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/assets/js/main.js"></script>
</body>
</html>
